body {
    max-width: 1000px;
    padding: 1rem;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    float: left;
    align-content: left;
}
nav ul li, footer ul li {
    flex: 1;
    margin-right: 20px;
}
a {
    font-size: 1.5em;
    line-height: 1.4em;
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    clear: both;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
.container {
    clear: both;
    display: flex; /* equal height of the children */
    flex-wrap: nowrap;
    align-content: left;
}
.blurb {
    padding: .8em;
    flex: 1; /* additionally, equal width */
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 360px;
    max-width: 2448px;
}
