<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Science">Science</a></li>
	        		<li><a href="/Yoga">Yoga</a></li>
	        		<li><a href="https://comfit.team">ComFIT</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    			<ul>
        			<li><a href="https://www.linkedin.com/in/rebeccazabinsky/">linkedIn</a></li>
				<li><a href="https://twitter.com/RebeccaZabinsky">twitter</a></li>
        			<li><a href="https://www.instagram.com/madscientistyogi/?hl=en">instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
